<form [formGroup]="patientForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="name">Name: </mat-label>
        <input id="name" type="text" matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="dobPicker">
        <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
        <mat-datepicker #dobPicker></mat-datepicker>
    </mat-form-field>

    <div formGroupName="address">
        <h2>Address</h2>

        <mat-form-field class="form-field" appearance="fill">
            <mat-label for="street">Street:</mat-label>
            <input id="street" type="text" matInput formControlName="street">
        </mat-form-field>

        <mat-form-field class="half-field" appearance="fill">
            <mat-label for="city">City:</mat-label>
            <input id="city" type="text" matInput formControlName="city">
        </mat-form-field>

        <mat-form-field class="quarter-field" appearance="fill">
            <mat-label for="state">State:</mat-label>
            <input id="state" type="text" matInput formControlName="state" [matAutocomplete]="stateAuto">
            <mat-autocomplete #stateAuto="matAutocomplete">
                <mat-option *ngFor="let state of states" [value]="state">
                  {{state}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="quarter-field no-margin" appearance="fill">
            <mat-label for="zip">Zip Code: </mat-label>
            <input id="zip" type="text" matInput formControlName="zip">
        </mat-form-field>
    </div>
        
    <h2>Medical Data:</h2>

    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="clinic">Clinic:</mat-label>
        <input id="clinic" type="text" matInput formControlName="clinic" [matAutocomplete]="clinicAuto">
        <mat-autocomplete #clinicAuto="matAutocomplete">
            <mat-option *ngFor="let clinic of clinics" [value]="clinic.name">
              {{clinic.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
        <mat-label for="msn">MSN:</mat-label>
        <input id="msn" type="number" matInput formControlName="msn">
    </mat-form-field>

    <mat-radio-group formControlName="sex">
        <mat-radio-button value="M">Male</mat-radio-button>
        <mat-radio-button value="F">Female</mat-radio-button>
    </mat-radio-group>

    <div formGroupName="height">
        <mat-form-field class="half-field" appearance="fill">
            <mat-label for="value">Height:</mat-label>
            <input id="value" type="number" matInput formControlName="value">
        </mat-form-field>
        <mat-form-field class="half-field" appearance="fill">
            <mat-label>Units</mat-label>
            <mat-select formControlName="unit">
              <mat-option *ngFor="let unit of ['inches', 'cm', 'feet']" [value]="unit">
                {{unit}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div formGroupName="weight">
        <mat-form-field class="half-field" appearance="fill">
            <mat-label for="value">Weight:</mat-label>
            <input id="value" type="number" matInput formControlName="value">
        </mat-form-field>
        <mat-form-field class="half-field" appearance="fill">
            <mat-label>Units</mat-label>
            <mat-select formControlName="unit">
              <mat-option *ngFor="let unit of ['lbs', 'kg', 'feet']" [value]="unit">
                {{unit}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <mat-form-field class="form-field" appearance="fill">
        <mat-label>Notes:</mat-label>
        <textarea matInput formControlName="notes"></textarea>
      </mat-form-field>
</form>
