<h1>Patients</h1>
<div class="list-container">
    <div *ngIf="patients.length; else noPatient">
        <div class="row" *ngFor="let patient of patients">
            <div class="col action-icons">
                <fa-icon (click)="openPatientDeleteModal(patient)" title="Delete" icon="trash" size="sm"></fa-icon>
                <fa-icon (click)="openPatientEditModal(patient)" title="Edit" icon="edit" size="sm"></fa-icon>
                <fa-icon (click)="openPatientViewModal(patient)" title="View" icon="eye" size="sm"></fa-icon>
            </div>
            <a class="col name link" (click)="openPatientViewModal(patient)">
                {{patient.name}}
            </a>
            <div class="col address">{{patient.formattedAddress()}}</div>
            <div class="col clinic">{{patient.clinic}}</div>
        </div> 
    </div>  
    <ng-template #noPatient>
        <div class="row">
            <div class="col">No patients</div>
        </div>
    </ng-template>
</div>
<p class="a-right">
    <button mat-button mat-raised-button color="primary" id="add-patient-button" (click)="openPatientAddModal()">Add Patient</button>
</p>
